* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; 

    --negative-font: #f8fafc;
    --positive-font: black;
    --navbar-bgd: #1e293b;
    --dashboard-bgd: #e2e8f0;
    --card-bgd: #f8fafc;
    --header-bgd: #f8fafc;
}

body {
    /* border: 10px dashed black; */
    /* border-radius: 10px; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;

    /* Layout of the whole page */
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: min-content 1fr;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weighted {
    font-weight: 500;
}

/* Navigation bar */
nav {
    grid-row: span 2;

    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;

    background-color: var(--navbar-bgd);
    color: var(--negative-font); 
    padding: 20px;
    align-items: center;
    align-content: start;
    justify-content: start;
}

    .settings, .home {
        margin-top: 30px;
    }

    .dashboard {
        font-size: 1.5em;
    }

    .logo {
        height: 2em;
        width: 2em;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;

        justify-self: center;
    }

        .logo > .flex-container1, .logo > .flex-container2 {
            display: grid;
            gap: 5px;
        }

        .logo > .flex-container1 {
            grid-template-rows: 2fr 1fr;
        }

        .logo > .flex-container2 {
            grid-template-rows: 1fr 2fr;
        }

        .logo > .flex-container1 > *, .logo > .flex-container2 > *  {
            background-color: var(--negative-font);
        }

    svg.nav-icon {
        width: 25px;
        padding: 0;
        color: var(--negative-font);
        justify-self: center;
    }

    .nav-text {
        font-size: 1em;
    }
    
/* Header section */
header {
    background-color: var(--header-bgd);

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-content: space-between;
    gap: 8%;

    padding: 20px 40px;
}

    /* First row on the header section */
    header > section:first-child {
        /* border: 1px dashed blue; */

        display: grid;
        grid-template-columns: 7fr 2fr;
        gap: 10%;
        align-content: center;
    }

        .profile-img {
            background-color: rgb(215, 215, 51);
            border-radius: 100%;
        }

        .notification-section > .profile-img {
            height: 45px;
            width: 45px;
        }

        .search-section, .notification-section {
            display: flex;
            align-items: center;
        }

        .search-section {
            gap: 5px;
        }

        @media all and (max-width: 800px) {
            .notification-section > div:last-child {
                display: none;
            }

            .nav-text, .dashboard {
                display: none;
            }

            nav {
                grid-template-columns: 40px;
            }
        }
        
        .search-section > #site-search {
            flex: 1;
            border-radius: 20px;
            background-color: var(--dashboard-bgd);
            border-style: none;
            outline: none;

            height: 35px;
            padding: 20px;
        }

        .notification-section {

            justify-content: space-between;
            align-items: center;
            gap: 20px;

            flex-shrink: 0;
        }

            .notification-section > div:last-child {
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
            }
        
            .notification-icon {
                flex-shrink: 0;
                color: var(--navbar-bgd);
            }
    
    /* Second row on the header section */
    header > section:nth-child(2) {
        /* border: 1px dashed black; */
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: space-between;
    }

        .profile-section {
            /* border: 1px dashed black; */

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 3fr;

            row-gap: 4px;
            column-gap: 20px;

            margin-right: auto;
 
        }

            .profile-section > .profile-img {
                grid-row: 1 / 3;
                justify-self: center;
                align-self: center;

                height: 75px;
                width: 75px;
            }

            .profile-section > div:nth-child(2) {
                font-size: 0.8em;
                align-self: end;
            }

            .profile-section > div:nth-child(3) {
                /* border: 1px solid blue; */

                align-self: start;
                font-size: 1.2em;

                white-space: nowrap;
            }
    
        .button-section {
            /* border: 1px solid blue; */

            display: flex;
            align-items: center;
            gap: 20px;

        
            margin-left: auto;
        }

            button {
                background-color: var(--navbar-bgd);
                color: var(--negative-font);
                border: none;
                border-radius: 20px;

                height: 40px;
                width: 80px;
            }
    
/* Dashboard */
main {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 4.5fr 1fr; */

    gap: 20px;

    background-color: var(--dashboard-bgd);
    padding-top: 20px;
    padding-bottom: 2.2vw;
    padding-left: 30px;
    padding-right: 30px;
}   

    /* Contains project cards */
    .project-container {
        flex: 1 1 75%;
        display: flex;
        flex-direction: column;
    }

        .project-cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
            gap: 20px;

            height: 100%;
        }

    /* Contains announcement and trending cards */
    .side-container {
        flex: 1 1 150px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

        /* Flex items inside grid so that it can stretch to fit */
        .trending-container, .announcement-container {
            display: flex;
            flex-direction: column;
        }

            .trending-card, .announcement-card {
                height: 100%;
            }

    .container-header {
        padding: 10px;
    }
    
    .card {
        padding: 20px;
        border-radius: 8px;
        background-color: var(--card-bgd);
        box-shadow: 5px 5px 3px rgb(163, 163, 163);
    }
